body {
  padding:0px;
  margin:0px;overflow:hidden;
}
.leaflet-container.leaflet-touch-drag.leaflet-touch-drag {
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.leaflet-pane, svg {
  -webkit-user-select: none;
}
.clr {
    clear:both;
}
.gray {
    opacity: 0.7;
}
.small {
    font-size: 0.8em;
}
.single {
  height: 10px;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border:none;
}
.ctrl-search {
  position: absolute;
    z-index: 1000;
    left: 76px;
    top: 8px;
    border-radius: 40px;
    background: #666  no-repeat -584px -8px;
    border-radius: 100% !important;
    font-size: 16px;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    line-height: 24px;
    box-shadow: #444 0 0 0 4px;
    color: white;
    padding: 6px 0 0 0; text-align:center;
    transition: background-color 250ms;cursor:pointer;
}
.ctrl-panzoom {
  position: absolute;
    z-index: 1000;
    left: 16px;
    top: 108px;
    border-radius: 40px;
    background: #666 url(/css/pixmaps.png?dd) no-repeat -584px -8px;
    border-radius: 100% !important;
    font-size: 28px;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    line-height: 24px;
    box-shadow: #444 0 0 0 4px;
    color: white;
    transition: background-color 250ms;cursor:pointer;
}

.ctrl-panzoom::before {
    content: ' ';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 18px;
    height: 8px;
    background: #444;
}

/*
smalll round

.leaflet-vertex-icon, .leaflet-middle-icon {
  background: none;
  border: 2px solid #ff3333;
  border-radius: 10px;
  margin-left: -4px !important;
  margin-top: -4px !important;
  width: 4px !important;
  height: 4px !important;
  opacity: 1 !important;
}
*/

  .leaflet-vertex-icon, .leaflet-middle-icon {
    border-radius: 10px;
    opacity :1;
    border: none;
    width: 16px !important;
    height: 16px !important;margin-left:-8px !important;margin-top:-8px !important;
    background: transparent;
    /*box-shadow: #ff3344 0 0 0 2px;*/
    }
  .leaflet-vertex-icon::after, .leaflet-middle-icon::after {
    content: ' ';
    position:absolute;top:4px;left:4px;width:8px;height:8px;
    background:white;border-radius: 8px;transform:scale(1);
    transition:transform 150ms;
  }
  .leaflet-vertex-icon:hover, .leaflet-middle-icon:hover {
    opacity: 1 !important;
  }
  .leaflet-vertex-icon:hover::after, .leaflet-middle-icon:hover::after,
  .leaflet-vertex-icon:active::after, .leaflet-middle-icon:active::after  {
    transform: scale(2);
    box-shadow: #999 0 0 5px 2px;
  }

  .z_btn {
    display:inline-block;
    width: 48px;height:48px;
    background: #ccc;background: linear-gradient(#fff,#eee);
    border-radius: 100%;
    box-shadow: #444 0 0 0 4px, inset rgba(0,0,0,0.4) 0px -1px;
  }
  /*
  .leaflet-top .leaflet-control.leaflet-bar {
    margin-top:0px;
        background: #444;
        box-shadow: none;
        border-radius: 0px;
        box-shadow: inset rgba(255,255,255,0.1) 0px 1px;
  }

.leaflet-top.leaflet-right {
  margin-top: 10px;
}
 .leaflet-top.leaflet-right .leaflet-bar:first-child {
  border-radius: 4px 4px 0 0;
}
*/
a.leaflet-control-zoom-in,a.leaflet-control-zoom-in:hover {
  border-radius: 100% !important;
  font-size: 28px !important;
  width: 48px !important;
  height: 48px !important;
  box-sizing: border-box;
  line-height: 48px !important;
  box-shadow: #444 0 0 0 4px;
  background: #666;
  color: white;
  border-bottom: 0px;
  transition: background 250ms;
}

a.leaflet-control-zoom-out,a.leaflet-control-zoom-out:hover {
    padding-top: 3px;
    background: #666;
    border-radius: 100% !important;
    font-size: 28px !important;
    width: 33px !important;
    height: 33px !important;
    box-sizing: border-box;
    line-height: 24px !important;
    box-shadow: #444 0 0 0 4px;
    position:relative;
    left:6px;
    top:8px;
    color:white;
    transition: background 250ms;
}
a.leaflet-control-zoom-in.leaflet-disabled,a.leaflet-control-zoom-out.leaflet-disabled{
      background: #4e4e4e;
    color: #666;
}
a.leaflet-control-zoom-out:hover, a.leaflet-control-zoom-in:hover, .ctrl-panzoom:hover {
  background-color: #3385ff;
}
a.leaflet-control-zoom-out:before {
  content: ' ';
  position:absolute;top: -8px;left:8px;
  width: 18px;height:6px;background:#444;
}

.leaflet-bar button {
  box-shadow: none;
  margin-top:0px;
  border: none;
  background: transparent;
  margin:0px;
}

.leaflet-bar {
  box-shadow:none;
}


.point_live {
    position: absolute;
    white-space: nowrap;
    width: auto !important;
    /* text-align: right; */
    /* margin-left: 15px !important; */
    /* margin-top: -9px !important; */
    background: #444;
    /* line-height: 20px; */
    height: 15px !important;
    padding: 5px 10px 7px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 2px;
    color: white;
    /* font-weight: bold; */
    font-family: 'RalewayBold';
    position: absolute;
    left: -3px;
    top: -8px;
}
.point_live.inverse{
    left: auto;
    right: -3px;
}
.point_live.inverse .point_drop {
      right: auto;
    left: -25px;
    border-radius: 4px 0 0 4px;
}
.point_label {
    display: inline-block;
    opacity: 0;
    color: red;
    padding: 2px 10px 0px;
  
}
.point_drop {
    width: 27px;
    height: 100%;
    position: absolute;
    right: -26px;
    top: 0px;
    background: #56a7a5;
    border-radius: 0 4px 4px 0;
    padding: 7px 8px;
    box-sizing: border-box;
}
.point_drop::before {
  content: 'X';
}
.point_live input {
  background: none;
  border: none;
  outline: none;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  font-weight: inherit;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0 10px 0 20px;
  color: white;font-family:inherit;
}

.point_editor {
    position: absolute;
    top: -10px;
    left: 0px;
    background: #444;
    box-sizing: border-box;
    padding: 10px;
    z-index: 2;
    border-radius: 4px;
    display:none;
}
.point_colors {
    position: absolute;
    bottom: -15px;
    left: 0px;
    width: 150px;
    height: 16px;
    background: #333;
    border-radius: 0px 0px 4px 4px;
}
.point_colors div {
  width: 25px;
  height:16px;
  background:red;float:left;
}
div.col-1 {
  background-color: #444;
}
div.col-2 {
  background-color: red;
}
div.col-3 {
  background-color: blue;
}
div.col-4 {
  background-color: green;
}
div.col-5 {
  background-color: cyan;
}
div.col-6 {
  background-color: magenta;
}
.point_colors div:first-child {
  border-radius: 0 0 0 4px;
}
.point_colors div:last-child {
  border-radius: 0 0 4px 0;
}
.mark.editor .point_editor {
  display: block;
}

.start_mark {
  width: 10px !important;
  height: 10px !important;
  background: #ff3333;
  border-radius: 10px;
  top: 2px;
  left: 2px;
}
.arr_start {
  width:24px;
  height:24px;
  transform: translateX(-5px) translateY(-5px);
  background: url(pixmaps.png) no-repeat -540px -12px
}
.end_mark {
    background: #ff3333;
    width: auto !important;
    padding: 4px;
    font-size: 14px;
    line-height: 12px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    /* box-sizing: border-box; */
    height: auto !important;
    z-index:5000;
        margin-left: -16px !important;
    margin-top: -10px !important;
}
#left_plank {
    position: fixed;cursor: pointer;font-size:0px;
    z-index: 10000;
    height: 48px;
    border-radius: 4px;
    bottom: 10px;
    left: 10px;
    transform: translateY(100px);
    transition: transform 500ms;
}

#left_plank.active {
  transform: translateY(0px);
}

#editor_left_plank {
    font-size: 0px;
    position: fixed;cursor: pointer;
    z-index: 10000;
    height: 48px;
    border-radius: 4px;
    bottom: 10px;
    left: 10px;
    transform: translateY(100px);
    transition: transform 500ms;
}

#editor_left_plank.active {
  transform: translateY(0px);
}

.bar_text {
    float: left;
    padding: 17px 15px 15px 3px;
    color: white;
    font-size: 14px;
    font-family: 'RalewayBold';
    text-transform: uppercase;
}
#plank {
    position: fixed;
    z-index: 10000;
    /* width: 600px; */
    height: 48px;
    border-radius: 4px;
    bottom: 10px;
    right: 10px;
    transform: translateY(100px);
    transition: transform 500ms;
    min-width: 585px;
    font-size: 0px;
    text-align:right;
}

#plank.active {
  transform: translateY(0px);
}
.sub_plank {
  background: #111;
  width: auto;
  min-height: 48px;
  border-radius: 4px 4px 0 4px;
  position: absolute;
  bottom:38px;padding-bottom: 10px;
  right: 4px;z-index:1;
  transform: scaleY(0);
  transform-origin:  50% 100%;
  transition: all 250ms;
  box-shadow: rgba(0,0,0,0.6) 0px 2px 10px, inset #777 0px 1px, inset #333 0px -1px;
  font-family: 'RalewayMedium';color: white;
  font-size: 17px;
  text-align:left;
}
#editor_left_plank .sub_plank {
  right: auto;
  left: 10px;
}
.sub_plank_text {
  float:left;
  padding: 16px 0px 0px 18px;
  font-family: 'RalewayBold';
}
.sub_plank_regular_text {
        font-size: 15px;
    font-weight: normal;
    font-family: 'RalewayRegular';
    padding-right: 15px;
    padding-top: 13px;
}
.sub_plank_buttons {
  float:right;padding: 12px 16px 0px 18px;
}
.sub_plank_with_bar {
    width: 255px;
    left: 5px;
    padding: 10px 16px;

}
.sub_plank_bar_text {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 14px;
}
.sub_plank_bar {
    height: 4px;
    width: 100%;
    background: #333;border-radius: 2px;position:relative;
}
.sub_plank_bar span {
    height: 2px;top:1px;
    position: absolute;
    display: block;
    background: #00eeff;
    background: linear-gradient(90deg,#00eeff,#ff5ddc);
    border-radius: 2px;
    box-shadow: #0078ff 0 0 10px 1px;
    /* transition: width 150ms; */
}

div#sub_plank_stickers {
    max-width: 582px;
    transition: none;
    left:auto;right: 5px;
}

.sub_plank_sticker_list {
    padding: 10px;
}

#sub_plank_stickers.preview {
  overflow:hidden;
  height:70px;
  transition: none;
}
.sticker_thumb {
    margin: 4px;
    font-size: 9px;
    text-transform: uppercase;
    float: left;
    width: 48px;
    text-align: center;
    height: 48px;
    font-family: 'RalewayBold';
    position: relative;
    /* padding-top: 0px; */
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}
.sub_plank_stickers_helper {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 9px;
    font-size: 0.8em;
    /* opacity: 0.7; */
    background: #222;
    border-radius: 0px 4px 0 0;
    display:none;
}

.preview .sub_plank_stickers_helper {
  display:block;
}
.sub_plank_stickers_helper div {
    width: 56px;
    float:left;
    text-align:center;
}
.sticker_thumb div {
    content: ' ';
    position: absolute;left:0px;top:0px;width:48px;height:48px;
    background: url(/misc/stickers/stickers.svg) 0px 0px no-repeat;
    background-size: cover;
}
.button {
  display: inline-block;
  background: #333;padding: 6px 10px;
  font-family:'RalewayBold';
  border-radius: 2px;cursor:pointer;
  font-size:0.8em;
}
a.button {color: white;}
.button_group { font-size: 0px; }
.button_group .button {  border-radius: 0px;font-size: 12px; }
.button_group .button:first-child {  border-radius: 4px 0 0 4px; }
.button_group .button:last-child {  border-radius: 0 4px 4px 0; }

.button-danger {
  background: #ff3344;
}
.button-outline-danger {
  color: #ff3344;box-shadow: inset #ff3344 0 0 0 1px;background:transparent;
}
.button.button-link {
  background: transparent;
  color: #00aad4;
}
.button-primary {
  background: #3c78db;
}

.button-gray-1 {
  background: #333;
}
.button-gray-2 {
  background: #444;
}
.button-gray-3 {
  background: #555;
}
.button-success {
    background: #17bf6d;
}
.button-outline-primary {
  color: #3c78db;box-shadow: inset #3c78db 0 0 0 1px;background:transparent;
}
.sub_plank.active {
  transform: scaleY(1);
}
.sub_plank_left {
  left: 145px;  
}
.sub_plank_full {
  left: 1%;
  width: 98%;
}
.bar {
  height: 100%;
  background: #333;
  border-radius: 5px;
  display:inline-block;
  box-shadow: rgba(0,0,0,0.6) 0px 2px 10px, inset #444 0px 1px, inset #333 0px -1px;
  position:relative;z-index:2;
}

.sep {
  display:inline-block;
  height:38px;
  background: #222;
  margin-top:5px;
  width: 10px;
  position: relative;
  top: -4px;
}
.editor-title {
  color: #999;
  font-family: 'RalewayMedium';
  box-sizing: border-box;
  padding: 14px 0px;
  width: 150px;text-align:center;
  float:left;
}
#logo_composer {
  /* display: none; */
  position: absolute;
  display: inline-block;
  right: 0px;
  bottom: 0px;
  z-index: 1001;
      width: 100%;
    height: 100%;
    touch-action: initial;
    pointer-events: none;
    background-repeat: no-repeat;
}

#logo_select_btn {
  z-index: 200;
  position: absolute;
  width:40px;
  height:40px;
  background: #333;
  border-radius: 20px;
  background: linear-gradient(#333,#222);
  right: 15px;
  bottom: 15px;
  opacity: 0.9;cursor:pointer;
}
#logo_select_list{
  display:none;
  width: 200px;
  height: auto;
  position: absolute;
  right: 15px;
  bottom: 15px;
  background: #333;
  padding: 10px 0px;
  border-radius: 4px;
  line-height: 18px;
  font-size: 16px;
  text-align: left;
}
#logo_select_btn.active #logo_select_list{
  display:block;
}
.logo_select_list div {
  padding: 5px 10px 5px 20px;
  color: white;
  font-family: 'RalewayMedium';
  font-size: 0.9em;
  cursor: pointer;
}
.logo_select_list div:hover {
  color: black;
  background: #0fde96;
}
.logo_select_list div.active {
  padding-left: 5px;
}
.logo_select_list div.active::before {
  content: "⚫ ";
}
#logo_composer.active #logo_select_btn, #logo_select_btn:hover {
  background: linear-gradient(160deg,#14afe2,#6144d4);opacity:1;
}
#logo_composer.top-right {
  background-position: 100% 0%;
}
#logo_composer.bottom-right {
  background-position: 100% 100%;
}
/*
#logo_composer.top-right {
  left:auto;bottom:auto;right:0px;top:0px;
}
#logo_composer.top-right #logo_select_list {
  left:auto;bottom:auto;right:35px;top:35px;
}
#logo_composer.top-right #logo_select_btn {
  left:auto;bottom:auto;right:15px;top:15px;
}

#logo_composer.bottom-right {
  left:auto;bottom:0px;right:0px;top:auto;
}
#logo_composer.bottom-right #logo_select_list {
  left:auto;bottom:35px;right:35px;top:auto;
}
#logo_composer.bottom-right #logo_select_btn {
  left:auto;bottom:15px;right:15px;top:auto;
}
*/
#bar-2 button {
  color: #fff;
  font-family: 'RalewayBold';
  box-sizing: border-box;
  padding: 14px 18px 14px 44px;
  line-height:20px;
  text-shadow: rgba(0,0,0,0.5) 0px 1px;
  background: #666;
  background: linear-gradient(160deg,#14afe2,#6144d4);
  border:none;
  border-radius: 0px 5px 5px 0px;
  float:right;
  text-transform: uppercase;
  box-shadow: inset rgba(0,0,0,0.7) 1px 0px;
  font-size:14px;
  cursor: pointer;
  position: relative;
  outline: none;
}
.save_dot {
    position: absolute;
    top: 27px;
    left: 29px;
    border: 2px solid #397cdb;
    width: 8px;
    height: 8px;
    border-radius: 20px;
    background: white;
}
#bar-2 button:before {
  content: ' ';
  position:absolute;
  top:0px;left:0px;
  width: 48px;height:48px;
  background: url(pixmaps.png?w) -480px 0px no-repeat;
}
.btn {
  width:48px;height:48px;float:left;
  background: url(pixmaps.png?w) no-repeat;
  cursor: pointer;
  transform: scale(1);
  transition: transform 100ms;
}
.btn:active {
  transform: scale(1.1);
}
.btn span, .btn.active:hover span {
    position: absolute;
    bottom: 58px;
    color: white;
    background: #111;
    padding: 10px;
    width: auto;
    display: inline-block;
    /* min-width: 200px; */
    z-index: 0;
    left: 0px;
    border-radius: 5px;
    transform: scaleY(0);
    transition: transform 250ms;
    transform-origin: 100% 110%;
    /* color: #fff; */
    font-family: 'RalewayMedium';
    font-size: 13px;
    white-space: nowrap;
}
.btn span::before {
    content: ' ';
    position:absolute;bottom:-15px;left:10px;
    width: 0;
height: 0;
border-style: solid;
border-width: 15px 15px 0 15px;
border-color: #111 transparent transparent transparent;
}
.btn span b, b.key {
    color: white;
    float: none;
    background: #fff;
    color: #111;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 2px;
    /* border: 3px #ccc solid; */
    /* border-width: 0px 1px 3px 1px; */
    box-shadow: #777 0px 2px 0 1px;
    font-family: 'RalewayRegular';
    margin-top: 10px;
}
.btn span b {
  margin-left: 10px;
}
b.key {
    margin-top: 0px;
    float: none;
}
.btn:hover span {
    transform: scaleY(1);
}

.btn-poly {
  background-position: 0px 0px;
}
.btn-poly:hover {
  background-position: 0px -48px;
}
.btn-poly.active,.btn-poly.active:hover {
  background-position: 0px -96px;
}
.btn-poly-remove {
  background-position: -286px 0px;
}
.btn-poly-remove:hover {
  transform: translateY(-2px);
}

.btn-poly-inverse {
  background-position: -336px 0px;
}
.btn-poly-inverse:hover {
  transform: translateY(-2px);
}
.btn-inactive {
  opacity:0.3;
}
.btn-inactive:hover {
  background-position-y: 0px !important;
}
.btn-point {
  background-position: -48px 0px;
}
.btn-point:hover {
  background-position: -48px -48px;
}
.btn-point.active,.btn-point.active:hover {
  background-position: -48px -96px;
}

.btn-sticker {
  background-position: -96px 0px;
}
.btn-sticker:hover {
  background-position: -96px -48px;
}
.btn-sticker.active,.btnsticker.active:hover {
  background-position: -96px -96px;
}
.btn-map {
  background-position: -144px 0px;
}
.btn-map:hover {
  background-position: -144px -48px;
}
.btn-map.active,.btn-map.active:hover {
  background-position: -144px -96px;
}
.btn-publish {
  background-position: -192px 0px;
}
.btn-publish:hover {
  background-position: -192px -48px;
}
.btn-import {
  background-position: -384px -96px;
}
.btn-router {
  background-position: -240px 0px;
}
.btn-router:hover {
  background-position: -240px -48px;
}
.btn-logo {
  background-position: -384px 0px;
}
.btn-logo:hover {
  background-position: -384px -48px;
}

.btn-user {
  background: none;
}

.btn-user::before {
  content: "\f2c0";

}
.btn-fa {
  font: normal normal normal 14px/1 FontAwesome;
  color: white;
  padding: 12px 0px 0px 12px;
  box-sizing: border-box;
  font-size: 24px;
  background: none;
}

.btn-user-warning::after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f071";
  position: absolute;
  bottom: 10px;
  right: 6px;
  color: orange;
}
@keyframes an-bar-1 {
  0% { transform: scaleX(0)}
  100% { transform: scaleX(1)}
}
@keyframes an-sep {
  0% { transform: translateY(200px);}
  100% { transform: translateY(0);}
}
#shader {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(hsla(69, 100%, 55%, 0),#000000); */
    background: rgba(20,20,20, 0.9);
    z-index: 9000;
    cursor: pointer;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: absolute;top:50%;left:50%;margin-top:-40px;margin-left:-100px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
#sk-status {
    color: white;
    transform: rotate(-45deg);
    top: -52px;
    left: 36px;
    position: absolute;
    text-transform: uppercase;
    font-family: 'RalewayBold';
}
.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

@keyframes shader_loading {
  0% {transform: translate(0px,0px) scale(1);opacity:1;}
  100% {transform: translate(40px,40px) scale(0.5);opacity:0;}
}
#shader .content {
  width: 300px;
  font-family: 'Raleway';
  color: white;
  font-size: 32px;
  text-shadow: rgba(0,0,0,0.3) 0 1px;
  text-align:center;
  position: absolute;
  bottom: 100px;
  left: 50%;margin-left: -150px;
}

#shader .progress {
  width: 200px;
  height: 4px;
  position:absolute;
  bottom: -20px;left:50%;
  margin-left:-100px;margin-top:-50px;
  background: white;
  animation: in_progress 1500ms infinite alternate;
}
@keyframes in_progress {
  0% { transform: scaleX(1);}
  100% { transform: scaleX(0.2);}
}


.map_type_option {
  color:#888;
  box-sizing: border-box;
  padding: 10px;
  font-family: 'RalewayMedium';
  width: 50%;float:left;font-size: 14px;position:relative;
}

.map_type_name {
  float:left;color:white;padding: 5px 10px 5px 5px;font-family: 'RalewayBold';
  font-size: 16px;
}

.map_type_thumb {
  width: 100%;height:60px;border-radius:2px;
  background: #333;margin-bottom: 10px;overflow:hidden;
}

.map_type_thumb img {
  width:100%;
}

.map_type_option a {
  display:block;
  width:100%;height:100%;position:absolute;left:0px;top:0px;
  cursor:pointer;
}

#image_cropper {
  position:absolute;z-index:2000;
  width:100%;height:100%;display:none;
}
#image_cropper .shader {
  position:absolute;z-index:2000;
  background: rgba(0,0,0,0.97);
  width:100%;height:100%;
}
#image_cropper .crop_canvas {
  position:absolute;z-index:2000;
  width:100%;height:100%;
  display: none;box-sizing:border-box;padding:20px 20px 70px 20px;
}
#image_cropper .crop_canvas.active {
  display:table;
}
#image_cropper .crop_pan {
  display: table-cell;
}

#crop_image_canvas {
  margin:auto;
      text-align: center;
      display: inline-block;
    position:relative;
}
#crop_image {
  opacity: 0;
}
.crop_pan {
  text-align:center;
}

#crop_image_logo {
  pointer-events: none;
  position: absolute;cursor:pointer;
  right: 0px;
  bottom: 0px;
  /* background: 100% 100% url(http://hbc.vault48.org/lgo.png) no-repeat; */
  width: 100%;
  height: 100%;
  z-index: 100;
  transform-origin: 100% 100%;
  overflow: hidden;
}
#crop_image_logo img {
  width: auto;
  height:auto;
  position: absolute;right:0px;bottom:0px;
  transform-origin: 100% 100%;
}

#crop_image_logo img.top-right {
  bottom: auto;
  top:0px;
      transform-origin: 100% 0%;
}
#crop_image_logo.top-right {
  right:0px;bottom:auto;top:0px;left:auto;
  transform-origin: 100% 0%;background-position: 100% 0%;
}

.sticker_point {
    opacity:1;position:relative;
}

.sticker {
  /*background:red;*/
    position:absolute;left:0px;bottom:0px;
    min-width:1px;min-height:1px;    transform-origin: 0% 100%;
    /* transition: transform 100ms linear;*/
    background-repeat:no-repeat;background-position:100% 100%;
    /* transition: transform 250ms;z-index:2000 !important; */
}

.sticker_bugrinsky_bridge {
    background-image: url(/misc/stickers/bridge.svg?zddd);
    width: 230px;
    height: 150px;
}

.sticker.sticker_bugrinsky_bridge.sticker_zoom_11,
.sticker.sticker_bugrinsky_bridge.sticker_zoom_12,
.sticker.sticker_bugrinsky_bridge.sticker_zoom_13
{
    display:none;
}
.sticker.sticker_bugrinsky_bridge.sticker_zoom_16,
.sticker.sticker_bugrinsky_bridge.sticker_zoom_17,
.sticker.sticker_bugrinsky_bridge.sticker_zoom_18 {
    background-position: 100% 0%;
}

/*
.sticker_with_text {    

  top: -44px;
  left: 7px;
    left: -2.27038px; top: -49.9484px;
    position:absolute;
    user-select:none;
}
.sticker_text {
  background: #333;    
  color: white;
  position: absolute;top:-20px;left:0px;z-index:2;
    padding: 0 0 0 40px;
  font-family: 'RalewayBold';
    border-radius: 4px
}
.sticker_with_text textarea {
  outline: none;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px 4px 10px 40px;
  border: none;
  color: white;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  resize: none;
}

.sticker_pos {
    width: 12px;
    height: 12px;
    position: absolute;
    top: -6px;
    left: -6px;
    border-radius: 12px;
    z-index: 2002!important;
    width:60px;
    height:60px;
    left:-30px;
    top:-30px;
    border-radius:30px;
}
.sticker_label {
  color: transparent;
  white-space:pre;
    padding: 10px;
}

.sticker_image {
    width:64px;height:64px;
    border-radius: 64px;
    background-color: #fff;
    position: relative;top:-32px;left:-32px;
    z-index:4;
}

.sticker_gap {
    width: 38px;
    height: 38px;
    background: #ff4433;    
    position: absolute;
    top: 0;
    left: 0px;z-index:3;
    transform-origin: 0% 0%;
 transform: rotate(0.73997rad);
}
.sticker_text.invert {
    left: auto; 
    right: 64px;
    padding: 0 40px 0 0;
}

.sticker_with_text .invert textarea {
    padding: 10px 40px 10px 8px;
}

*/


.sticker_labeled {
    left: 31.131px;
    top: -37.2254px;
    position:absolute;
    user-select:none;width:0px;height:0px;
}
.sticker_text {
  background: #333;    
  color: white;
  position: absolute;top:-20px;left:0px;z-index:2;
    padding: 0 0 0 40px;
  font-family: 'RalewayBold';
    border-radius: 4px
}
.sticker_text textarea {
  outline: none;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px 4px 10px 40px;
  border: none;
  color: white;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  resize: none;
}

.sticker_pos {
    width: 12px;
    height: 12px;
    position: absolute;
    top: -6px;
    left: -6px;
    border-radius: 12px;
    z-index: 2002!important;
    width:60px;
    height:60px;
    left:-30px;
    top:-30px;
    border-radius:30px;
}
.sticker_label {
  color: transparent;
  white-space:pre;
    padding: 10px;
}

.sticker_del {
    position: absolute;display:none;
    right: -16px;
    top: 0px;
    width: 20px;
    height: 20px;
    background: #444;
    z-index: 10;
    border-radius: 4px;text-align:center;
}
.sticker_editable .sticker_del {
  display:block;
}
.sticker_del::before {
  content: '';
  font-family: FontAwesome;
}

.invert .sticker_del {
    right: auto;
    left: -16px;
}

.sticker_image {
    width: 72px;
    height: 72px;
    border-radius: 64px;
    position: relative;
    top: -36px;
    left: -36px;
    z-index: 4;
    background: url(/misc/stickers/stickers.svg) 0px 0px;
}

.sticker_gap {
    width: 38px;
    height: 38px;
    background: #ff4433;    
    position: absolute;
    top: 0;
    left: 0px;z-index:3;
    transform-origin: 0% 0%;
    transform: rotate(1.31202rad);
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' viewBox='0 0 38 38' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 26,0 38,38 0,26' style='fill:%23ff4433;' /%3E%3C/svg%3E");
}
.invert .sticker_text {
    left: auto; 
    right: 0px;
    padding: 0 40px 0 0;
}

.invert textarea {
    padding: 10px 40px 10px 8px;
}

.sticker_image.sticker_forest {
    background: url(/misc/stickers/stickers.svg) -72px 0px;
}

.sticker_image.sticker_bridge {
    background: url(/misc/stickers/stickers.svg) -144px 0px;
}

.sticker_image.sticker_alex {
    background: url(/misc/stickers/stickers.svg) -216px 0px;
}


.leaflet-popup-content-wrapper {
    background: #333;
    border-radius: 4px;
    color: #eee;
}

.leaflet-popup-tip {
    background: #444;
}

.leaflet-routing-container {
  display: none;
}

.router_popup button {
    background: #4dffb9;
    background: linear-gradient(#e1f5be,#7cd6b3);
    border: none;
    padding: 7px 10px 9px;
    color: rgba(0,0,0,0.7);
    font-family: 'RalewayBold';
    text-shadow: rgba(255,255,255,0.7) 0px 1px;
    box-shadow: #111 0 2px, inset rgba(0,0,0,0.3) -1px -2px, inset rgba(255,255,255,0.5) 1px 1px;
}

button.routing-button-a {
  border-radius: 4px 0 0 4px;
  padding-left: 30px;
}

button.routing-button-b {
  border-radius: 0 4px 4px 0;
  padding-right: 30px;
}

.routing_tip {
    padding: 10px;
    font-size: 0.9em;
    display: none;
}

#sub_plank_routing_machine {
    width: 97%;
}
#sub_plank_routing_tip.seta .routing_tip_seta {
  display:table;
}

#sub_plank_routing_tip.setb .routing_tip_setb {
  display:table;
}

#sub_plank_routing_tip.routing .routing_tip_routing {
  display:table;
}

#map.cross {
  cursor: crosshair;
}

/*
.routing_tip_text {
  float: left;padding-right: 20px;
  padding-bottom: 10px;
}

.routing_tip_btns {
  white-space: nowrap;
}

.routing_tip_btns {
    white-space: nowrap;
    left: -10px;
    position: relative;
}

*/
.routing_tip {
  display: none;
  width: 100%;
  box-sizing:border-box;
}

.routing_tip_text, .routing_tip_btns {
  display: table-cell;
}

.routing_tip_btns {
  white-space: nowrap;    vertical-align: bottom;text-align: right;padding-bottom: 1px;
  }


div#sub_plank_remote_store {
    left: auto;
    right: 10px;
    width: 380px;
    box-sizing:border-box;
    
}

.sub_plank_store_green {
  background: #008066;padding: 15px;
  background: linear-gradient(170deg,#abc837,#008066);
  border-radius: 4px 4px 0 0 ;

}

.sub_plank_store_green h2 {
  margin: 0px;  text-shadow: #008066 0px 1px;
  padding: 0px 0px 15px;
}
.store_address_input {
  position:relative;
}
.store_address_input input {
  width: 100%;
  padding: 5px 5px 5px 100px;
  background: rgba(0,0,0,0.3);color: white;font-family: 'RalewayRegular';
  font-size: 16px;
  border: none;border-radius: 4px;
  box-shadow: inset rgba(255,255,255,0.4) 0 -1px, inset rgba(0,0,0,0.1) 0 1px;
  outline: none;
} 
.store_address_input span {
  position:absolute;left:0px;top:0px;
  padding: 4px 10px;background: rgba(0,0,0,0.3);font-size: 16px;
}

#sub_plank_store_text {
  padding: 15px;font-size: 0.8em;
}

#store_status {
  min-height: 30px;
}
a {
  color: #00aad4;
}

a#store_address_url {
  word-wrap: break-word;
}

a#store_address_url span {
  opacity: 0.6;
  white-space: nowrap;
}
.store_spinner {
  float:left;font-size: 0.9em;padding-top:4px;position:relative;padding-left: 18px;    color: #7db443;
  display:none;
}

.storing .store_spinner {
  display: block;
}

.store_spinner::before {
  content: '';
  font-family: 'FontAwesome';
  animation: spin 1s infinite linear;
  position:absolute;left: 0px;top:6px;
}

.store_error{
  float:left;font-size: 0.9em;padding-top:4px;position:relative;padding-left: 18px;    color: #ff3344;
  display: none;
}

.error .store_error {
  display: block;
}

.store_error::before {
  content: '';
  font-family: 'FontAwesome';
  position:absolute;left: 0px;top:6px;
}
/*
.success #store_status::before {
    content: '';
    font-family: 'FontAwesome';
    font-size: 2em;
    display: inline-block;
    float: left;
    padding-right: 9px;
    color: #35ff76;
}
*/

.store_status_success, .store_status_rename, .store_status_overwriting {
  display: none;
}
.success .store_status_none, .overwriting .store_status_none  {
  display: none;
}

.success .store_status_success, .overwriting .store_status_overwriting
 {
  display: block;
}


@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.right {
  float:right;
}

#plank_hello {
  width:97%;padding: 0px 15px;box-sizing: border-box;
  padding: 0 15px 40px 180px;
  font-size: 0.9em;
  color: #fff;  background: linear-gradient(68deg,#94054b,#0b0b28);
  cursor:pointer;
  font-size: 16px;
}

#plank_hello h2 {
  color: white;
}

#hero {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: url(/misc/stickers/hero.svg) 0% 100% no-repeat;
    width: 400px;
    height: 260px;
    /*
    width: 440px;
    height: 400px;*/
   /*
    
    background-size: contain;
    */
}
#elbow {
    width: 34px;
    height: 84px;
    background: url(/misc/stickers/hero.svg) -400px 100% no-repeat;
    position: absolute;
    left: 32px;
    top: 160px;
    animation: hand 2s infinite alternate;
    transform-origin: 50% 100%;
}

#palm {
    width: 38px;
    height: 84px;
    background: url(/misc/stickers/hero.svg) -435px 100% no-repeat;
    position: absolute;
    left: -10px;
    top: -69px;
    animation: hand2 2s infinite alternate;
    transform-origin: 50% 90%;
}

div#sub_plank_select_logo {
    /* float: right !important; */
    left: auto;
    right: 78px;
    padding: 10px 5px 20px;
}



@keyframes hand {
  0% {transform: rotate(-5deg);}
  100% {transform: rotate(10deg);}
}

@keyframes hand2 {
  0% {transform: rotate(-15deg);}
  100% {transform: rotate(15deg);}
}

@keyframes blink {
  0% {opacity: 1;}
  85% {opacity: 1;}
  86% {opacity: 0;}
  90% { opacity: 0; }
  91% { opacity: 1; }
}

#menu_user_name {
  margin-top: -2px;
  display: inline-block;
  line-height:1.4em;
  color: #999;
  letter-spacing: -1;
}

#menu_user_role {
  margin-top: -3px;
  display: inline-block;
  line-height:1.4em;
  color: #999;
  letter-spacing: -3;
}

.loaded #menu_user_name {
  color: #fff;letter-spacing: normal;
}

.loaded #menu_user_role {
  color: #999;letter-spacing: normal;
}

#sub_plank_user {
  width: 270px;
}

.text-warning {
  color: #ffcc00;
}

.menu-item {
  padding: 7px 5px 7px 0;
  border-bottom: 2px solid #222;position: relative;
}

.menu-item a {
  display: block;position:absolute;top:0px;left:0px;width:100%;height:100%
}

.tag {
    background: #999;
    padding: 0 3px;
    border-radius: 4px;
    color: black;
    font-weight: bold;
}

.tag-primary {
    background: #3c78db;
    color: white;
}

.sub_menu {
  position: absolute; left: 260px;
  background: #222;
  padding: 10px;
  border-radius: 4px 4px 4px 0;
  bottom: 0px;
}

.sub_menu .menu-item {
  width: 270px;
  float:left;
}

#user_route_list {
  width: 270px;
  overflow: hidden;
  width:100%;height:100%;
  font-family: 'RalewayMedium';
  color: white;
  padding: 10px 0px 90px 0px;
  overflow-y: auto;
  box-sizing:border-box;
}
#user_route_list .menu-item {
  border-bottom: none;
  padding-left: 10px;
  cursor: pointer;
}

.menu-item .fa {
    font-size: 22px;
    float: left;
    padding: 6px 10px 0 0;
    color: #18aae1;
}

#user_route_list .menu-item:hover {
  background: rgba(255,255,255,0.1);
}
#store_helper {
  display: none;
  position: absolute;
  left: 100px;z-index:2000;
  top: 10px;
  padding:10px;
  background: #333;
  color: white;
  font-family: 'RalewayMedium';
  border-radius: 4px;
  max-width: 270px;
}

#store_helper::before {
  content: ' ';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #333 transparent;
  position: absolute;top: -10px;left: 10px;
}

#editor_left_slide {
  transform: translateX(-348px);
  width: 300px;
  height: 100%;
  background: #333;
  position: absolute;left:0px;bottom:0px;
  z-index:2000;
  box-sizing: border-box;
  transition: transform 500ms;
}

#editor_left_slide.active {
  transform: translateX(0px);

}

#editor_left_slide::after {
  content: ' ';
  position:absolute;bottom:0px;left:0px;
  width:285px;height:90px;
  background: linear-gradient(transparent ,#333 70%);
}

.editor_left_slide_empty {
  font-family: 'RalewayRegular';
  color: white;
  text-align: center;
  font-size: 0.9em;
  position: absolute;
  top: 50%;
  left: 0%;
  padding: 10px;
  box-sizing: border-box;
  background: #333;
  z-index: 1;
  width: 90%;
  margin-top: -50px;
}
#editor_left_slide.not_empty .editor_left_slide_empty {
  display: none;
}
#menu_user_route_count {
    font-size: 10px;
    text-align: center;
    font-family: 'RalewayBold';
    position: absolute;
    right: 16px;
    bottom: 19px;
    padding: 0px;
    /* border-radius: 10px; */
    font-style: normal;
    width: 18px;
    text-align: center;
    user-select: none;
}

.editor_left_slide_close {
  cursor: pointer;
  position: absolute;
  right: -48px;
  bottom: 10px;
  width: 48px;
  height: 48px;
  background: #ff3344;
  border-radius: 0 3px 3px 0;
  color: white;
  box-sizing: border-box;
  padding: 8px 0 0 11px;
}
